@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.App {
	text-align: center;

}

.nav {
	position: sticky;
	top: 0;
	z-index: 99;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	padding: 1rem 6rem;
	align-items: center;
	height: 100%;
}
#logo {
	width: 15rem;
	/* height: 8rem; */
	
}

.link-con {
	list-style: none;
	display: flex;
}

.link-con * {
	margin-left: 1.3rem;
}

.link-con *:hover {
	color: salmon;
	cursor: pointer;
}
/* Main */

.main-con h1, .main-menu-whole h1, .location h1 {
font-family: 'Lobster', cursive;
font-size: 4rem;
padding: 1rem;
color: rgb(90, 13, 13);
}

.location h1 {
	padding: 0;
}

.menu {
	padding: 5rem 0rem ;
	height: 100%;
	margin-bottom: 3rem;
	height: 100%;
}

.card-con {
	display: flex;
	justify-content: space-evenly;	
	flex-wrap: wrap;
	margin-top: 3rem;
	align-items: center;
	padding: 0 12%;
}

.menu-card {
	width: 15rem;
	height: 100%;
	/* overflow: hidden; */
	border-radius: 1rem;
	margin-bottom: 2rem;

}

.menu-card * {
	margin-bottom: 2rem;
}

.menu-card img{
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
/* position: absolute; */
/* top: 0; */
/* left: -4.2rem; */
/* height: 100%; */
/* z-index: -1; */
}

.menu-card h3 {
	font-size: 2.2rem;
	margin-bottom: 1.3rem;
}

.menu-card p {
	font-size: 1.2rem;
}

#menu-btn {
	margin-top: 2rem;
}

#menu-btn,#service-btn, .m-menu-btn {
	/* margin: 2rem; */
	padding: 0.6rem 4rem;
	font-size: 1.4rem;
	background-color: #8FC46C;
	border: none;
	color: #ffffff;
	/* font-weight: 800; */
}

#m-service-btn {
	background-color: #82E080;
	position: absolute;
	bottom: 0;
	padding: 0.6rem 0;
	margin-bottom: 0;
	font-size: 1.2rem;
	border: none;
	width: 45%;
}

.m-menu-btn {
		padding: 0.6rem 1rem;
}

#menu-btn:hover,#service-btn:hover, #m-service-btn:hover, .m-menu-btn:hover {
	background-color: #618549;	

}



.here {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	position: sticky;
	bottom: 1rem;
	float: right;
	background-color: salmon;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 0.7rem;
}

.jumbotron {
	max-height:50rem;
	object-position: center;
	object-fit: contain;
	position: relative;
	/* background-color: #8FC46C; */
}

.slogan {
	position: absolute;
	top:-32rem;
	left: 12rem;
	text-shadow: 2px 2px #000000;
}
.slogan p {
	font-family: 'Lobster', cursive;
	font-size: 3rem;
}



.jumbotron-img {
	max-height: 40rem;
	object-fit: contain;
}

.jumbotron-img img {
	object-fit: contain;
}
.location-title {
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 5px dotted rgb(250, 166, 177);
		border-bottom: 5px dotted rgb(250, 166, 177);
}
.location-title div {
	margin-right: 2rem;
}

.days-locations {
margin-top: 1rem;
}

iframe {
	width: 80%;
	height: 600px;
}

.days-locations button {
	padding: 0.7rem 2rem;
	margin:  0.5rem 0.2rem;
	background-color: #8FC46C;
	color: #ffffff;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	font-size: 1.3rem;
}
.days-locations button:hover {
		background-color: #DF5454;
}

#map {
	margin-bottom: 5rem;
}

a {
	text-decoration: none;
	color: #000000;
	font-size: 1.1rem;

}

/* Service */
.services {
	background-image: url('../img/bg-service.png');
	background-size: cover;
	background-position: center;
	height: 100%;
	margin-bottom: 6rem;
}

#trans {
	background-color: #4b4b4b85;
	height: 100%;
	padding: 5rem 0rem;
	border-radius: 10px;
}

.services h1 {
	color: #ffffff;
	font-size: 4rem;
} 

#service-btn {
	margin-top: 1rem;
	padding: 0.7rem 2rem ;
	font-size: 1.4rem;
}


.ser-card {
	width: 20rem;
	height: 20rem;
	background-color: #ffffffb2;
	padding-top: 1.3rem;
	border-radius: 10px;

}
.ser-card ul {
	margin-top: 2rem;
}

.ser-card li {
text-align: left;
padding: 0 2rem;
}

#moving-truck {
	width: 10rem;
}

/* Random bento */

.random {
	width: 100%;
}

.bento-con {
	padding: 1rem;
	width: 300px;
	height: 300px;
	border: 5px solid black;
	/* background-color: rgb(202, 151, 93); */
	background-image: url("https://cdn.pixabay.com/photo/2015/12/26/05/53/wood-1108307_960_720.jpg");
	box-shadow: 2px 2px 10px 3px rgb(117, 117, 117);
	border-radius: 10px;
	margin-left: 10rem;
}

.row-bento {
	width: 100%;
	height: 50%;
	/* border: 1px solid black; */
	display: flex;
		border-radius: 10px;
}

.row-bento * {
	width: 100%;
	height:100%;
	border: 1px solid black;
	border-radius: 10px;
	background-color: rgba(109, 88, 49, 0.178);
	
}

.outer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	height: 40rem;
	/* padding: 0 10rem; */
}
.check-con {
	font-size: 1.5rem;
	text-align: center;
	/* padding-left: 10rem; */
}


.check-con input {
	transform: scale(2);
	margin-right: 1rem;
}

.check-con div {
	width: 40rem;
}





/*Main Service */


.mainService {
	background: url("/home/Bella/Desktop/Hackathon/Bento/src/img/forServices/serveicesBg.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 100%;
}

#bg-m-service {
	background-color: #0000004d;
	height: 100%;
		padding-bottom: 8rem;
}

.mainService h1 {
	font-family: 'Lobster', cursive;
	padding-top: 5rem;
	font-size: 3.5rem;
	color: #ffffff;
	text-shadow: 2px 2px #000000;
}
.main-ser-card-con {
	display: flex;
	background-color: #ffffffc9;
	margin: 8rem 20% 0 20%;
	padding: 2rem;
	border-radius: 1rem;
	min-width: 700px;
	/* margin-bottom: 2rem; */

}

.main-ser-card-con:nth-child(odd) {
	flex-direction: row-reverse;
}

.main-ser-card-con img {
	width: 100%;
	border-radius: 2rem;
}

.main-ser-detail {
	width: 100%;
	margin-top: 2rem;
	text-align: left;
	position: relative;
}

.main-ser-detail * {
	margin: 0 5rem;
	margin-bottom: 2rem;
}

.main-ser-detail h3 {
	color: #FF7272

}

.main-ser-detail p {
	width: 50%
}

.main-ser-detail button {
	/* padding: 0; */
	width: 18rem;
}


/*Main Menu */
.main-menu-whole {
	width: 100%;
	height: 100%;
	margin-bottom: 8rem;
}

.main-menu-con {
	display: flex;
	justify-content: space-between;
}

.order {
	width: 20%;
	height: 65vh;
	/* background-color: #ccc; */
	padding: 2rem 3rem 1rem 3rem;
	/* border: 1px dotted #000000; */
	background-color: #e8f8e0;
	border-radius: 1rem;
	margin-right: 1rem;
	text-align: left;
	box-shadow: 2px 2px 10px 2px #ccc;

}

.order-list {
	display: flex;
	justify-content: space-between;
}

#order-title {
	margin-bottom: 2rem;
	color: #FF7272
}
#total {
	margin-top: 2rem;
	color: #457a44;
}

#paypal {
	width: 8rem;
	border-radius: 1rem;
	cursor: pointer;
	border: 5px solid #ccc;
	margin-left: 0.6rem;
}
#paypal:hover {
	border: 5px solid rgb(129, 129, 129);
}

.main-menus {
	width: 80vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 3rem;
}

.main-menu-card {
	width: 17rem;
	height: 27rem;
	border-radius: 1rem;
	margin-bottom: 2rem;
	border: 1px solid #618549;
	padding: 1rem

}

.menu-card * {
	margin-bottom: 2rem;
}

.main-menu-card img{
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
/* position: absolute; */
/* top: 0; */
/* left: -4.2rem; */
/* height: 100%; */
/* z-index: -1; */
}

.main-menu-card h3 {
	font-size: 2.2rem;
	margin-bottom: 1.3rem;
}

.main-menu-card p {
	font-size: 1.2rem;
}


/* footer */
.footer {
	height: 8rem;
	background-color: #8FC46C;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* .footer p {
	font-size: ;
} */
.icons-footer {
	width: 2.5rem;
	margin: 0.2rem 1rem;
}

#hamburger {
	width: 3rem;
	border: 2px solid #ccc;
	padding: 0.3rem;
	border-radius: 5px;
	display: none;
	cursor: pointer;
}

.drop-con {
	list-style: none;
}

#hamburger:hover {
		border: 2px solid #FF7272;
}

@media screen and (max-width: 1060px) {
	.link-con li {
		font-size: 0.9rem;
	}
}

@media screen and (max-width: 1000px) {
  .link-con li {
	  display: none;
	}  #hamburger {
		display: block;
	}
	/* .main-ser-card-con {
	padding-bottom: 2rem;

} */
}
@media screen and (min-width: 1060px) {
	.drop-con li {
		display: none;
	}
	
}
@media screen and (max-width: 780px) {
	.nav {
	padding: 1rem 2rem;
	}
#logo {
	width: 7rem;	
}
#hamburger {
width: 2rem;}
}




