@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.App {
	text-align: center;

}

.nav {
	position: sticky;
	top: 0;
	z-index: 99;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	padding: 1rem 4rem;
	align-items: center;
	height: 100%;
}
#logo {
	width: 15rem;
	
}

.link-con {
	list-style: none;
	display: flex;
}

.link-con * {
	margin-left: 1.3rem;
}

.link-con *:hover {
	color: salmon;
	cursor: pointer;
}
/* Main */

.main-con h1 {
font-family: 'Lobster', cursive;
font-size: 4rem;
padding: 1rem;
color: rgb(90, 13, 13);
}

.menu {
	padding: 5rem 0rem ;
	height: 100%;
	margin-bottom: 3rem;
	height: 100%;
}

.card-con {
	display: flex;
	justify-content: space-evenly;	
	flex-wrap: wrap;
	margin-top: 3rem;
	align-items: center;
	padding: 0 12%;
}

.menu-card {
	width: 15rem;
	height: 100%;
	/* overflow: hidden; */
	border-radius: 1rem;
	margin-bottom: 2rem;

}

.menu-card * {
	margin-bottom: 2rem;
}

.menu-card img{
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
/* position: absolute; */
/* top: 0; */
/* left: -4.2rem; */
/* height: 100%; */
/* z-index: -1; */
}

.menu-card h3 {
	font-size: 2.2rem;
	margin-bottom: 1.3rem;
}

.menu-card p {
	font-size: 1.2rem;
}

#menu-btn,#service-btn,#m-service-btn {
	/* margin: 2rem; */
	padding: 0.6rem 4rem;
	font-size: 1.4rem;
	background-color: #8FC46C;
	border: none;
	color: #ffffff;
	font-weight: 800;
}

#menu-btn:hover,#service-btn:hover, #m-service-btn:hover {
	background-color: #618549;	
}


.footer {
	height: 8rem;
	background-color: rgb(4, 36, 4);
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;

}

.here {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	position: sticky;
	bottom: 1rem;
	float: right;
	background-color: salmon;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 0.7rem;
}

.jumbotron {
	max-height:50rem;
	object-position: center;
	object-fit: contain;
	position: relative;
	/* background-color: #8FC46C; */
}

.slogan {
	position: absolute;
	top:-32rem;
	left: 12rem;
	text-shadow: 2px 2px #000000;
}
.slogan p {
	font-family: 'Lobster', cursive;
	font-size: 3rem;
}



.jumbotron-img {
	max-height: 40rem;
	object-fit: contain;
}

.jumbotron-img img {
	object-fit: contain;
}
.location-title {
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 5px dotted rgb(250, 166, 177);
		border-bottom: 5px dotted rgb(250, 166, 177);
}
.location-title div {
	margin-right: 2rem;
}

.days-locations {
margin-top: 1rem;
}

iframe {
	width: 80%;
	height: 600px;
}

.days-locations button {
	padding: 0.7rem 2rem;
	margin:  0.5rem 0.2rem;
	background-color: #8FC46C;
	color: #ffffff;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	font-size: 1.3rem;
}
.days-locations button:hover {
		background-color: #DF5454;
}

#map {
	margin-bottom: 5rem;
}

a {
	text-decoration: none;
	color: #000000;
	font-size: 1.1rem;

}

/* Service */
.services {
	background-image: url('../img/bg-service.png');
	background-size: cover;
	background-position: center;
	height: 100%;
	margin-bottom: 2rem;
}

#trans {
	background-color: #4b4b4b85;
	height: 100%;
	padding: 5rem 0rem;
	border-radius: 10px;
}

.services h1 {
	color: #ffffff;
	font-size: 3rem;
} 

#service-btn {
	margin-top: 1rem;
	padding: 0.7rem 2rem ;
	font-size: 1.4rem;
}


.ser-card {
	width: 20rem;
	height: 20rem;
	background-color: #ffffffb2;
	padding-top: 1.3rem;
	border-radius: 10px;

}
.ser-card ul {
	margin-top: 2rem;
}

.ser-card li {
text-align: left;
padding: 0 2rem;
}

#moving-truck {
	width: 10rem;
}

/* Random bento */
.bento-con {
	padding: 1rem;
	width: 400px;
	height: 400px;
	border: 5px solid black;
	background-color: rgb(202, 151, 93);
	box-shadow: 2px 2px 10px 3px rgb(117, 117, 117);
	border-radius: 10px;
	margin-left: 10rem;
}

.row-bento {
	width: 100%;
	height: 50%;
	border: 1px solid black;
	display: flex;
		border-radius: 10px;
}

.row-bento * {
	width: 100%;
	height:100%;
	border: 1px solid black;
		border-radius: 10px;
	
}

.outer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	padding: 0 10rem;
}
.check-con {
	font-size: 2rem;
	text-align: center;
	/* padding-left: 10rem; */
}

.check-con input {
	transform: scale(2);
	margin-right: 1rem;
}

.check-con div {
	width: 40rem;
}

/*Main Service */


.mainService {
	background: url("/home/Bella/Desktop/Hackathon/Bento/src/img/forServices/serveicesBg.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 100%;
	padding-bottom: 8rem;

}
.mainService h1 {
	font-family: 'Lobster', cursive;
	padding-top: 5rem;
	font-size: 3.5rem;
	color: #ffffff;
	text-shadow: 2px 2px #000000;
}
.main-ser-card-con {
	display: flex;
	background-color: #ffffffc9;
	margin: 8rem 20% 0 20%;
	padding: 2rem;
	border-radius: 1rem;
	min-width: 700px;

}

.main-ser-card-con:nth-child(odd) {
	flex-direction: row-reverse;
}

.main-ser-card-con img {
	width: 100%;
	border-radius: 2rem;
}

.main-ser-detail {
	width: 100%;
	margin-top: 3rem;
}

.main-ser-detail * {
	padding: 0 5rem;
	margin-bottom: 2rem;
}

.main-ser-detail button {
	padding: 0;
	width: 18rem;
}